/* ProjectApproval.css */
 
.project-info {
    border: 2px solid #3498db;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.2);
    background-color: #fff;
  }
   
  .project-info p {
    margin: 10px 0;
    color: #333;
  }
   
  .button-container {
    margin-top: 20px;
  }
   
  button {
    padding: 12px;
    margin-right: 12px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   
  button:hover {
    background-color: #27ae60;
  }
   
  p.message {
    margin-top: 20px;
    color: #2ecc71;
    font-weight: bold;
  }
   
   
/* Success message popup */
.message-popup.success {
  background-color: rgba(94, 186, 125, 0.8); /* Semi-transparent green background color */
  color: #ffffff; /* White text color */
  box-shadow: 0 0 10px rgba(94, 186, 125, 0.5); /* Green shadow */
  position: fixed; /* Fixed positioning */
  top: 70px; /* Distance from top */
  right: 20px; /* Distance from right */
  padding: 10px; /* Padding around the text */
  border-radius: 0 40px 0 40px ;
}
 
/* Error message popup */
.message-popup.error {
  background-color: rgba(244, 67, 54, 0.8); /* Semi-transparent red background color */
  color: #ffffff; /* White text color */
  box-shadow: 0 0 10px rgba(244, 67, 54, 0.5); /* Red shadow */
  position: fixed; /* Fixed positioning */
  top: 70px; /* Distance from top */
  right: 20px; /* Distance from right */
  padding: 10px; /* Padding around the text */
  border-radius:  40px 0 40px 0;
}