/* Container styling */
.project-approval-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.2);
  background-color: #fff;
  overflow: auto;
}

/* Header styling */
.project-approval-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #3498db;
}

/* Info styling */
.project-approval-info {
  margin-bottom: 10px;
  color: #333;
  margin-left: 50px;
  font-weight:300 ;
}

/* Project info styling */
.project-info {
  margin-top: 20px;
}

/* Project name styling */
.project-name {
  font-weight: bold;
}

/* Assigned Employee Info styling */
.assigned-employee-info {
  margin-top: 15px;
}

/* Approve button styling */
.approve-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.approve-button:hover {
  background-color: #2980b9;
}

/* Approved Message styling */
.approved-message {
  margin-top: 20px;
}

/* Approved Employee Details styling */
.approved-employee-details {
  margin-top: 10px;
}

/* Success message popup */
.message-popup.success {
  background-color: rgba(94, 186, 125, 0.9);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(94, 186, 125, 0.7);
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 15px;
  border-radius: 0 40px 0 40px;
  font-size: 16px;
}

/* Error message popup */
.message-popup.error {
  background-color: rgba(244, 67, 54, 0.9);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(244, 67, 54, 0.7);
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 15px;
  border-radius: 40px 0 40px 0;
  font-size: 16px;
}
